<div class="containa">

    <div class="row">
        <div class="col-xs-2"></div>
        <h2 class="col-xs-3">商品詳細</h2>


        <div class="col-xs-7">
        <p>商品名 <%= @item.name %></p>
        <p>説明 <%= @item.introduction %></p>
        <p>ジャンル <%= @item.genre_id %></p>
        <p>税抜き価格 <%= @item.price %></p>
        <p>販売ステータス <%= @item.is_active %></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <%= link_to "編集する", edit_admin_item_path, class: "btn btn-info" %>
        </div>
    </div>
    <p>admin/items#show</p>
</div>