<div class="containa">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h3>注文履歴詳細</h3>

            <div class="row">
                <div class="col-xs-2">
                    <label>購入者</label><br>
                    <label>配送先</label><br>
                    <label>支払方法</label><br>
                    <label>注文ステータス</label><br>
                </div>

                <div class="col-xs-6">
                    <%= @order.end_user.last_name %><%= @order.end_user.first_name %><br>
                    <%= @order.post_code %><%= @order.address %><br>
                    <%= @order.payment_method %><br>
                    <%= form_for @order, url: admin_order_path do |f| %>  <!--oreder controllerのupdateの飛ぶ-->
                    　<%= f.select :status,["入金待ち","入金確認","製作中","発送準備中","発送済"] ,style: "margin-top:10px;#" %>
                    <%= f.submit "更新" ,class: "btn btn-primary btn-sm" %><br>
                    <% end %>
                </div>

                <div class="col-xs-4"></div>
            </div>
            <br><br>

            <div class="row">
                <div class="col-xs-8">
                    <table class="table">
                        <thead>
                                <th>商品名</th>
                                <th>単価</th>
                                <th>数量</th>
                                <th>小計</th>
                                <th>制作ステータス</th>
                        </thead>
                        <% @order_details.each do |order_detail| %>
                        <tbody>
                                <td><%= order_detail.item.name %></td>
                                <td><%= order_detail.item.price %></td>
                                <td><%= order_detail.amount %></td>
                                <td><%= order_detail.amount * order_detail.item.price %></td>
                                <td><%= order_detail.making_status %></td>
                                <td>更新</td>
                        </tbody>
                        <% @sum =+ order_detail.amount * order_detail.item.price %>
                        <% end %>
                    </table>
                </div>
                <div class="col-xs-2">
                    商品合計<br>
                    送料<br>
                    請求金額合計<br>
                </div>
                <div class="col-xs-2">
                    <%= @sum %><br>
                    800<br>
                    <%= @sum + 800 %><br>
                </div>
            
            </div>
        

        </div>
        <div class="col-xs-1"><div>
    </div>
</div>
