<h2>配送先登録/一覧</h2>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
            <%= form_for(@address, url: '/addresses') do |f| %>
            <%= f.label :郵便番号 %>
                <%= f.text_field :post_code %> <br/>
            <%= f.label :住所 %>
                <%= f.text_field :address %> <br/>
            <%= f.label :宛名 %>
                <%= f.text_field :name %> <br/>

                    <%= f.submit '新規登録', class: "btn btn-success" %>
            <% end %>
    </div>
    <div class="col-xs-2"></div>
</div>

<br/>
<br/>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <table class="table table-bordered">
                <thead class="active">
                    <tr>
                        <th>郵便番号</th>
                        <th>住所</th>
                        <th>宛名</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                <% @addresses.each do |address| %>
                    <tr>
                        <td><%= address.post_code %></td>
                        <td><%= address.address %></td>
                        <td><%= address.name %></td>
                        <td><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
                            <%= link_to "削除する", address_path(address), method: :delete, class:"btn btn-danger" %></td>
                    </tr>
                <% end %>
                </tbody>
        </table>
</div>
    <div class="col-xs-2"></div>
</div>

<h3>Public::Addresses#index</h3>
<p>Find me in app/views/public/addresses/index.html.erb</p>
