<div>ショッッピングカート</div>
<div>カートを空にする</div>

<div class="tabel">
商品名
単価（税込）
数量  変更
小計
削除ボタン欄

<% @sum = 0 %> #初期設定
<% @cart_items.each do |cart_item| %>
    <tr>
        <td>価格
            <%= cart_item.item.price %></td>
        <td>個数
            <%= cart_item.amount %></td>
        <td>小計
            <%= cart_item.item.ptice * cart_item.amount %></td>
    </tr>
<% end %>

#合計金額
<%= @sum %>　円

</div>
<div>合計金額</div>
<div>買い物を続ける　　　　　　　合計金額</div>

<%= f.submit '情報入力に進む' %>


<h3>Public::CartItems#index</h3>
<p>Find me in app/views/public/cart_items/index.html.erb</p>
