<div class="containa">
    <div class="row">
            <div class="col-xs-2">
            <h2>会員情報編集</h2>
                <td>会員ID</td>
                <td>氏名</td>
                <td>フリガナ</td>
                <td>郵便番号</td>
                <td>住所</td>
                <td>電話番号</td>
                <td>メールアドレス</td>
            </div>
            <div class="col-xs-6">
                    <%= @end_user.id %>
                <br>
                <%= form_for(@end_user) do |f| %>
                    <%= f.text_field :first_name %>
                    <%= f.text_field :last_name %>
                <br>
                    <%= f.text_field :first_name_kana %>
                    <%= f.text_field :last_name_kana %>
                <br>
                    <%= f.text_field :post_code %>
                <br>
                    <%= f.text_field :address %>
                <br>
                    <%= f.text_field :telephone_number %>
                <br>
                    <%= f.email_field :email %>
                <br>
                <br>

                <% f.submit "編集する" %>
                <% end %>
            </div>
    </div>
</div>
