<div class="containa">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h3>注文情報確認</h3>
            <%= form_for @order do |f| %>
            <div class="row">
            <!-- 注文情報 -->
            <div class="col-xs-8">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th>商品名</th>
                            <th>単価（税込）</th>
                            <th>数量</th>
                            <th>小計</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td><%= cart_item.item.name %></td>
                            <td><%= cart_item.item.price %></td>
                            <td><%= cart_item.amount %></td>
                            <td><%= cart_item.amount * cart_item.item.price %></td>
                            <% @sum += cart_item.amount * cart_item.item.price %>
                        </tr>
                    <% end %>
                    </tbody>
                </table> 
            </div>

            <div class="col-xs-3">
                <table class="table table-bordered">
                    <tr>
                        <td class="active">送料</th>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td class="active">商品合計</td>
                        <td><%= @sum %></td>
                    </tr>
                    <tr>
                        <td class="active">請求金額</td>
                        <td><%= @sum+800 %></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <strong>支払方法</strong>
                <%= @order.payment_method %>
        <br>
        <br>
            <strong>お届け先</strong>
                <%= @order.post_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
        </div>
            <br>
            <br>
        <%= f.submit "購入を確定する", class: "btn btn-primary" %>
        <% end %>
        
        
            <!--  <%= form_for @order, url: new_order_path, method: :get do |f| %>
                <%= f.hidden_field :order, :value => @order %>
                <%= f.submit '入力画面へ戻る' ,class: "btn btn-primary" %>
            <% end %>   -->
        </dvi>
        <div class="col-xs-1"></div>
    </div>
</div>