<div class="containa">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            <%= attachment_image_tag @item, :image, size: "200x200", format: "jpeg", fallback: "rails.png" %>
        </div>
        <div class="col-xs-4"></div>
            <h3><%= @item.name %></h3>
            <p><%= @item.introduction %></p>

            <h3><%= @item.price %>円（税抜）</h3>
            
            <%= form_for @cart_item, url: cart_items_path do |f| %>
                <%= f.hidden_field :end_user_id , :value => current_end_user.id %>
                <%= f.hidden_field :item_id , :value => @item.id %>
                <%= f.number_field :amount, placeholder: "0", min:1, max: 20 %>

                <%= f.submit 'カートに入れる' %>
            <% end %>
        </div>
    </div>
<div>
