<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default">
      <div class="container-field">
        <nav class="nav navbar-nav navbar-left" >
          <span class="text-muted" style="font-size: 20px;">LOGO</span>
        </nav>
        
        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
              <li class="">
                <button type="button" class="btn btn-default navbar-btn">About
                </button>
              </li>
              <li class="">
                <button type="button" class="btn btn-default navbar-btn">商品一覧
                </button>
              </li>
              <li class="">
                <button type="button" class="btn btn-default navbar-btn">新規登録
                </button>
              </li>
              <li class="">
                <button type="button" class="btn btn-default navbar-btn">ログアウト
                  </button>
              </li>

          </ul>
        </nav>
      </div>
    </header>
    


    <%= yield %>
  </body>
</html>

