<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default">
      <div class="container">
        <nav class="nav navbar-nav navbar-left" >
          <span class="text-muted" style="font-size: 20px;">LOGO</span>
        </nav>
        
        <nav class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
        <% if end_user_signed_in? %><!--  ユーザーでログイン -->
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'マイページ', end_users_my_page_path %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to '商品一覧', items_path %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'カート' %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'ログアウト', destroy_public_session_path %>
                    </button>
                  </li>

        <% elsif admin_signed_in? %>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to '商品一覧', admin_items_path %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">会員一覧
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">注文履歴
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'ジャンル一覧', "/admin/genres" %>
                    </button>
                  </li>
                    <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
                    </button>
                  </li>

         <% else %> <!--　ログインしていない　 -->
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'About', about_path %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to '商品一覧', items_path %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to '新規登録', new_end_user_registration_path %>
                    </button>
                  </li>
                  <li class="">
                    <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to 'ログイン', new_end_user_session_path %>
                    </button>
                  </li>
          <% end %><!-- 　　 -->
          </ul>
        </nav>
      </div>
    </header>


    <%= yield %>
  </body>
</html>

